body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    }
    
    header {
    background-color: #147671;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    }

footer {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        }