
/*navbar*/
nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  }
  
nav li {
  margin: 0 10px;
  }
  
nav a {
  color: #fff;
  text-decoration: none;
  }

  /*button.js*/
button {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  width: 95.02px;
  height: 42.66px;
  border: none;
  background-color: #147671;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button .span-mother {
  display: flex;
  overflow: hidden;
}

button:hover .span-mother {
  position: absolute;
}

button:hover .span-mother span {
  transform: translateY(1.2em);
}

button .span-mother span:nth-child(1) {
  transition: .2s;
}

button .span-mother span:nth-child(2) {
  transition: .3s;
}

button .span-mother span:nth-child(3) {
  transition: .4s;
}

button .span-mother span:nth-child(4) {
  transition: .5s;
}

button .span-mother span:nth-child(5) {
  transition: .6s;
}

button .span-mother span:nth-child(6) {
  transition: .7s;
}

button .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

button .span-mother2 span {
  transform: translateY(-1.2em);
}

button:hover .span-mother2 span {
  transform: translateY(0);
}

button .span-mother2 span {
  transition: .2s;
}

button .span-mother2 span:nth-child(2) {
  transition: .3s;
}

button .span-mother2 span:nth-child(3) {
  transition: .4s;
}

button .span-mother2 span:nth-child(4) {
  transition: .5s;
}

button .span-mother2 span:nth-child(5) {
  transition: .6s;
}

button .span-mother2 span:nth-child(6) {
  transition: .7s;
}


body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  font-size: 16px;
  background-color: #524f4f;
  }
  

  header {
  background-color: #147671;
  color: #fbf6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  }
  
  .logo h1 {
  margin: 0;
  }
  
  nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  }
  
  nav li {
  margin: 0 10px;
  }
  
  nav a {
  color: #fff;
  text-decoration: none;
  }
  
  .cart img {
  width: 50px;
  height: 50px;
  }
  
  .banner img {
  width: 60%;
  }
  
  .banner-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-1%, -130%);
  text-align: right;
  }
  
  .banner-text h2 {
  font-size: 3em;
  margin: 0;
  }
  
  .banner-text p {
  font-size: 1.5em;
  }
  
  .products {
  padding: 50px 0;
  }
  
  .product-list {
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  
  .product {
  width: 23%;
  margin-bottom: 50px;
  text-align: center;
  }
  
  .product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  }
  
  .product h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  }
  
  .product p {
  font-size: 1.5em;
  margin: 0;
  }
  
  .buy-button {
  display: inline-block;
  background-color: rgb(25, 98, 123);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  }

button {
font-weight: bold;
color: white;
border-radius: 2rem;
width: 95.02px;
height: 42.66px;
border: none;
background-color: #147671;
display: inline-flex;
justify-content: center;
align-items: center;
}

button .span-mother {
display: flex;
overflow: hidden;
}

button:hover .span-mother {
position: absolute;
}

button:hover .span-mother span {
transform: translateY(1.2em);
}

button .span-mother span:nth-child(1) {
transition: .2s;
}

button .span-mother span:nth-child(2) {
transition: .3s;
}

button .span-mother span:nth-child(3) {
transition: .4s;
}

button .span-mother span:nth-child(4) {
transition: .5s;
}

button .span-mother span:nth-child(5) {
transition: .6s;
}

button .span-mother span:nth-child(6) {
transition: .7s;
}

button .span-mother2 {
display: flex;
position: absolute;
overflow: hidden;
}

button .span-mother2 span {
transform: translateY(-1.2em);
}

button:hover .span-mother2 span {
transform: translateY(0);
}

button .span-mother2 span {
transition: .2s;
}

button .span-mother2 span:nth-child(2) {
transition: .3s;
}

button .span-mother2 span:nth-child(3) {
transition: .4s;
}

button .span-mother2 span:nth-child(4) {
transition: .5s;
}

button .span-mother2 span:nth-child(5) {
transition: .6s;
}

button .span-mother2 span:nth-child(6) {
transition: .7s;
}
  .buy-button:hover {
  background-color: #444;
  }
  
  .categories {
  background-color: #147671;
  padding: 50px 0;
  }
  
  .category-list {
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  
  .category {
  color: #fff;
  width: 23%;
  margin-bottom: 50px;
  text-align: center;
  }
  
  .category img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  }
  
  .category a {
  color: #f4f3f3;
  display: block;
  margin-top: 20px;
  font-size: 1.5em;
  }
  
  .footer {
  background-color: #f8f4f4;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  }
  
  .social-media {
      background-color: #fff;
   color: #fff;
  display: flex;
  }
  
  .social-media img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  }